<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - zaj9</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="row justify-content-center">
            <h1 class="text-align: center; font-size: 24px;">Adam Jochemczyk</h1>
        </div>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Probkis" asp-action="Index">Probki</a>
                <a class="navbar-brand" asp-area="" asp-controller="Probkis1" asp-action="Index">Probki2</a>
                <a class="navbar-brand" asp-area="" asp-controller="Labs" asp-action="Index">Lab</a>
                <a class="navbar-brand" asp-area="" asp-controller="Labs1" asp-action="Index">Lab2</a>
                <a class="navbar-brand" asp-area="" asp-controller="Labs2" asp-action="Index">Lab3</a>
                <a class="navbar-brand" asp-area="" asp-controller="Labs3" asp-action="Index2">Lab3_v2</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - zaj9 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
